<div class="lessons_list_div">
    <p>Student Username: {{ lesson.user.username }}</p>
    <p>Sent Date: {{ lesson.sent_date }}</p>
    <p>Details: {{ lesson.description }}</p>
    <p>Time Details: {{ lesson.time_description }}</p>

    {% if lesson.accepted == False %}
        <form method="POST" action="{% url 'lessons:appending_lessons' pk=teacher.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="date" name="date" class="form-control mb-2" 
                    placeholder="dd-mm-yyyy" value=""
                    min={{current_date}} max="2030-12-31">
                <input type="text" name="time" class="form-control mb-2" 
                    placeholder="18:00" value="">
                <input hidden="true" name="lesson_id" value="{{lesson.id}}">
                <input class="btn-block btn-primary form-control" type="submit" value="Accept">
            </div>
        </form>
    {% endif %}
</div>