{% extends "base.html" %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'invicta/css/lessons_and_reviews.css' %}" >
{% endblock %}

{% block content %}
    <h4 class="list-title">Hello, {{user.first_name}} {{user.last_name}}!</h4>

    <p class="list-paragraph">These are your lessons:</p>

    {% if messages %}
        <div class="card notification-card notification-invitation message_div">
            <div class="card-body">
                {% for message in messages %}
                    <div class="card-title">{{message}} </div>
                {% endfor %}
            </div>
        </div> 
    {% endif %}

    <div class="col-md-8">
        {% for lesson in object_list  %}
            {% include "lessons/_teacher_lesson.html" %}
        {% endfor %}

        {% include "_pagination.html" %}
    </div>

{% endblock %}