{% extends "base.html" %}

{% block content %}
    <div class="col-md-4">
        <h1>@{{ teacher.user.username }}</h1>
        <p>Lessons</p>
    </div>

    {% if messages %}
        <div class="card notification-card notification-invitation message_div">
            <div class="card-body">
                {% for message in messages %}
                    <div class="card-title">{{message}} </div>
                {% endfor %}
            </div>
        </div> 
    {% endif %}

    <div class="col-md-8">
        {% for lesson in object_list  %}
            {% include "lessons/_teacher_lesson.html" %}
        {% endfor %}

        {% include "_pagination.html" %}
    </div>

{% endblock %}