{% extends "base.html" %}

{% block content %}
    <div class="col-md-4">
        <h1>@{{ teacher.user.username }}</h1>
        <p>Lessons</p>
    </div>

    <div class="col-md-8">
        {% for lesson in object_list  %}
            <div class="lessons_list_div">
                <p>Student Username: {{ lesson.user.username }}</p>
                <p>Sent Date: {{ lesson.sent_date }}</p>
                <p>Details: {{ lesson.description }}</p>
                <p>Time Details: {{ lesson.time_description }}</p>

                {% if lesson.accepted == False %}
                    <form method="POST" action="{% url 'lessons:appending_lessons' pk=teacher.pk %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="date" name="date" class="form-control mb-2" 
                                placeholder="dd-mm-yyyy" value=""
                                min="1997-01-01" max="2030-12-31">
                            <input type="text" name="time" class="form-control mb-2" 
                                placeholder="18:00" value="">
                            <input hidden="true" name="lesson_id" value="{{lesson.id}}">
                            <input class="btn-block btn-primary form-control" type="submit" value="Accept">
                        </div>
                    </form>
                {% endif %}
            </div>
        {% endfor %}

        {% include "_pagination.html" %}
    </div>

{% endblock %}