.lessons_list_div{
  border : 1px solid black;
  margin-bottom: 2em;
  text-align: center;
}

.review_list_div{
  border : 1px solid black;
  margin-bottom: 2em;
  text-align: center;
}

.pagination{
  text-align: center;
  align-items: center;
  margin-left: 42.5%;
}

.message_div{
  margin-bottom: 2em;
}

.custom-navbar{
  background-color: #212529;
}