.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E9ECEF;
    flex-direction: column;
}

h1 {
    margin-top: 40px;
}

.index-link {
    margin-top: 15px;
    border-radius: 3px;
    font-size: 23px;
    line-height: 2rem;
    padding: 6px 15px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #1b8381;
    text-decoration: none;
    transition: all .1s;
  }
  
.index-link:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.85);
}