{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>TEACHER PROFILE</h1>

    {% if user.is_teacher %}
        {% if profile.teacher.user == user %}
            <a class="btn btn-primary" href="{% url 'profiles:profile_update' slug=profile.slug %}">UPDATE YOUR PROFILE</a>
        {% endif %}
    {% endif %}

    {% if user.is_student %}
        <a class="btn btn-primary" href="{% url 'lessons:create_lesson' pk=profile.teacher.pk %}">BOOK A LESSON!</a>
        <a class="btn btn-primary" href="{% url 'reviews:create_review' pk=profile.teacher.pk %}">LEAVE A REVIEW!</a>
    {% endif %}

    <div class="container">
        <h1>{{profile.teacher.user.first_name}} {{profile.teacher.user.last_name}}</h1>
        <p>rating: {{profile.teacher.get_teacher_rating}}</p>
        <br>
        <img src=" {{ profile.avatar.url }}">
        <p> {{profile.teacher.subject}} teacher </p>
        <p>{{profile.description}}</p>
    </div>
{% endblock content %}