{% load bootstrap_icons %}

<div class="review_list_div">
    <a class="lessons-a review-a" href="{% url 'profiles:profile_detail' slug=review.teacher.profile.slug %}">
        {% bs_icon 'mortarboard-fill' size='30px' extra_classes="bootstrap_icons" %}
        {{ review.teacher.user.first_name }} {{ review.teacher.user.last_name }}
    </a>
    <p>
        Sent at: {{ review.sent_date }} 
        {% bs_icon 'calendar-date' size='30px' extra_classes="bootstrap_icons" %}
    </p>
    <p>
        Details: {{ review.description }}
        {% bs_icon 'chat-left-dots' size='30px' extra_classes="bootstrap_icons" %}
    </p>
    <p>
        Rating: {{ review.rating }}
        {% bs_icon 'star-fill' size='30px' extra_classes="bootstrap_icons" %}
    </p>
    
    <div class="col-lg-12 delete_edit_review_div">
        <a class="btn btn-danger" href="{% url 'reviews:delete_review' pk=review.pk %}">
            {% bs_icon 'trash' size='25px' %}
        </a>
        <a class="btn btn-warning" href="{% url 'reviews:update_review' pk=review.pk %}">
            {% bs_icon 'pencil-square' size='25px' %}
        </a>
    </div>
</div>