{% extends "base.html" %}
{% load bootstrap_icons %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'invicta/css/lessons_and_reviews.css' %}" >
{% endblock %}

{% block content %}
    <h4 class="list-title">Hello, {{user.first_name}} {{user.last_name}}!</h4>

    <p class="list-paragraph">These are your reviews:</p>

    <div class="col-md-8">
        {% for review in object_list  %}
            {% include "reviews/_teacher_review.html" %}
        {% endfor %}
        
        {% include "_pagination.html" %}
    </div>

{% endblock %}