{% extends "base.html" %} 

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'invicta/css/index.css' %}" >
{% endblock %}

{% block content %}
<div class="index-container">
    <div class="index-text-container">
        <h1 class="welcome-text">Welcome to Invicta!</h1>
        <h2 class="welcome-desc">
            The gates of the Invicta world are from now on wide open to all! We, the creators of this realm, invite you with great enthusiasm to cross its threshold! If you are a pupil or a student, eager to deepen or to pursue the way of performance, we give you the chance to find a teacher or a professor to guide your steps.
        </h2>
        {% if user.is_authenticated %}
            <h2 class="welcome-desc">Welcome {{ user.first_name }} {{ user.last_name }}!</h2>
        {% else %}
            <div class="log-sign-index">
                <a class="index-link index-login" href="{% url 'accounts:login' %}">Log In</a>
                <a class="index-link index-login" href="{% url 'accounts:signup_student' %}">Sign up</a>
            </div>
            <div class="teacher-index">
                <h2 class="welcome-desc teacher-desc">This is the virtual place where all the hearty and talented teachers and professors are welcome. Dear teachers,if you love children and young people, if you are in love and passioately involved in the job you have chosen, come and lay a brick in the foundation of a career! It is an opportunity for you to prove your mastery and also to supplement your income from public education.</h2>
                <a class="index-link teacher-login" href="{% url 'accounts:signup_teacher' %}">Become a teacher</a>
            </div>
        {% endif %}
    </div>
  </div>
{% endblock %}
